{
  "extends": [
    "prettier"
  ],
  "rules": {
    "no-debugger": "off",
    "no-console": "off"
  },
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module"
  },
  "globals": {
    "fetch": false
  },
  "ignorePatterns": [
    "*.html",
    "**/boot"
  ]
}
